body{
    margin: 0;
}
.main-container{
    background-image: url('../../Assets/bg.png');
    background-size: cover;
}
.slider-heading{
    padding: 25px 0;
    text-align: center;
}
hr{
    border: 2px solid #4060AC;
    width: 20%;
}

@media screen and (max-width:500px) {
    .slider-content{
        width: 80% !important;
    }
    .slider-btn{
        width: 200px !important;
    }
    .call-center-heading{
        font-size: 22px !important;
    }
    .Testimonials-heading{
        font-size: 22px !important;
    }
    .divider{
        width: 100px !important;
    }   
}
